@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4"> @User.Identity.Name  خوش آمدی</h1>
        <ul>
          
                <li><a href="@Url.Action("AddContact" , "Contact")">Add Contact</a></li>
          
        </ul>

    }


</div>
