<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ThamitPardakht.EndPoint</title>
    <!-- font---------------------------------------->
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/vendor/materialdesignicons.css">
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/vendor/nice-select.css">
    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/main.css">
    <link rel="stylesheet" href="~/SiteTemplate/assets/css/responsive.css">
    <link rel="stylesheet" href="~/CustomStyle/LoginForm/css/Style.css" />
</head>
<body>
    <!-- header-------------------------------->
    <header class="header-main">
        <div class="container-main">
            <div class="d-block">
                <section class="h-main-row">
                    <div class="col-lg-9 col-xs-12 pr">
                        <div class="header-right">
                            <div class="col-lg-3 pr">
                                <div class="header-logo row text-right">
                                    <a href="#">
                                        @*  <img src="~/SiteTemplate/assets/images/logo.png" width="200"  alt="پرداخت هوشمند">*@
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-12 pl">
                        <div class="header-left">
                            <div class="header-account text-left">
                                <div class="d-block">
                                    <div class="account-box">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <div class="nav-account d-block pl">
                                                <span class="icon-account">
                                                    <img src="~/SiteTemplate/assets/images/man.png" class="avator">
                                                </span>
                                                <span class="title-account">@User.Identity.Name</span>
                                                <div class="dropdown-menu">
                                                    <ul class="account-uls mb-0">
                                                        <li class="account-item">
                                                            <a href="#" class="account-link">پنل کاربری</a>
                                                        </li>
                                                        <li class="account-item">
                                                            <a href="#" class="account-link">سفارشات من</a>
                                                        </li>
                                                        <li class="account-item">
                                                            <a href="#" class="account-link">تنظیمات</a>
                                                        </li>
                                                        <li class="account-item">
                                                            <a href="~/authentication/SignOut" class="account-link">خروج</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="nav-account d-block pl">
                                                <a href="~/Authentication/Signup">
                                                    <span class="title-account">ثبت نام</span>
                                                </a>

                                                <a href="~/Authentication/Signin">
                                                    <span class="title-account">ورود</span>
                                                </a>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div>
                </div>



                <div class="overlay"></div>
                <!--    responsive-megamenu-mobile----------------->
            </div>
        </div>
    </header>
    <div class="nav-categories-overlay"></div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   

</body>
<!-- file js---------------------------------------------------->
<script src="~/SiteTemplate/~/SiteTemplate/assets/js/vendor/jquery-3.2.1.min.js"></script>
<script src="~/SiteTemplate/assets/js/vendor/bootstrap.js"></script>
<!-- plugin----------------------------------------------------->
<script src="~/SiteTemplate/assets/js/vendor/owl.carousel.min.js"></script>
<script src="~/SiteTemplate/assets/js/vendor/jquery.countdown.js"></script>
<script src="~/SiteTemplate/assets/js/vendor/jquery.nice-select.min.js"></script>
<!-- main js---------------------------------------------------->
<script src="~/SiteTemplate/assets/js/main.js"></script>
</html>
