
@{
    ViewData["Title"] = "ثبت نام";
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت نام</title>
 
    <link rel="stylesheet" href="~/CustomStyle/LoginForm/css/Style.css" />
</head>
<body>

     <div class="register">
        <h1>ثبت نام</h1>
        <form method="post">
            <input type="text" id="FullName" name="f" placeholder="نام" required="required" />
            <input type="Email" id="Email" name="u" placeholder="ایمیل" required="required" />
            <input type="password" id="Password" name="p" placeholder="رمز عبور" required="required" />
            <input type="password" id="RePassword" name="p" placeholder="تکرار رمز عبور" required="required" />
            <a onclick="Registeruser()" type="submit" class="btn btn-primary btn-block btn-large">ثبت نام</a>
            <div class="account-box-headline">
                <a href="~/authentication/signin" class="register-ds">
                    <span class="title">ورود</span>
                </a>
            </div>
        </form>
    </div>

</body>
<!-- file js---------------------------------------------------->
<script src="~/SiteTemplate/assets/js/vendor/jquery-3.2.1.min.js"></script>


<script src="~/SiteTemplate/assets/js/main.js"></script>


<link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Sweetalert2/sweetalert2.min.js"></script>


<script>
    function Registeruser() {
 
        var FullName = $("#FullName").val();
        var Email = $("#Email").val();
        var Password = $("#Password").val();
        var RePassword = $("#RePassword").val();

        var postData = {
            'FullName': FullName,
            'Email': Email,
            'Password': Password,
            'RePassword': RePassword,
        };

        $.ajax({
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            type: "POST",
            url: "Signup",
            data: postData,
            success: function (data) {
                if (data.isSuccess == true) {
                    swal.fire(
                        'موفق!',
                        data.message,
                        'success'
                    ).then(function (isConfirm) {
                        window.location.replace("/");
                    });
                }
                else {

                    swal.fire(
                        'هشدار!',
                        data.message,
                        'warning'
                    );
                }
            },
            error: function (request, status, error) {
                swal.fire(
                    'هشدار!',
                    request.responseText,
                    'warning'
                );
            }
        });
    }
</script>
</html>
